<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="/ASSETS/logo.png" type="image/png" />
    <title>PLV RESERVATION</title>
    <link rel="stylesheet" href="/static/css/superadmin/loginpage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <!-- TOP BAR  -->
      <div class="menu">
        <div class="logo">
          <a href="/auth/homepage.html">CSMS</a>
          <label for="menu"></label>
        </div>
      </div>

    <!-- LEFT IMAGE -->
    <div class="container">

      <div class="left">
        <img src="../ASSETS/plv maysan 1.jpg" alt="Building">
      </div>

        <!-- RIGHT FORM -->
        <div class="right">
          <div class="form-box">

            <h1>Reserve Now</h1>
            <p>Please log into your account to continue</p>

            <form>
              <label>Email address</label>
              <input type="email" placeholder="example@email.com">

                <div class="password-label">
                  <span>Password</span>
                </div>
                <input type="password" placeholder="********">

                <div class="checkbox">
                  <input type="checkbox" id="showPassword">
                  <label for="showPassword">Show Password</label>
                </div>

                <button type="submit" class="submit-btn">Log in</button>
            </form>
          </div>
        </div>
    </div>
</body>
</html>

